<div class="row justify-content-center mt-3">
  <div class="col col-md-8">
    <h2> Полученные награды</h2>
    <table class="table table-sm">
      <tbody>
        <%= render @current_badges %>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row justify-content-center mt-3">
  <div class="col col-md-8">
    <h2>Все доступные награды</h2>
    <table class="table table-sm">
      <tbody>
        <%= render @badges %>
      </tbody>
    </table>
  </div>
</div>
