<% if resource.errors.present? %>
  <div>
    <h6><%= t('.header', count: resource.errors.count) %></h6>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
