<p>
  <%= current_years %>(c) Проект <%= link("https://github.com/e-smirnov735/test-guru", "Тест-Гуру") %> - это
  веб-приложение с возможностью решать разнообразные наборы тестов. Автор Евгений Смирнов.
</p>
<p><%= link("http://thinknetica.com/", "Учебный проект в онлайн-школе Thinknetica") %></p>
