<footer>
  <hr>
  <p>
    <%= current_years %> год. Проект
    <a href="<%= github_url('e-smirnov735', 'test-guru') %>"
       target="_blank"
       rel="nofollow noopener"
    >Тест-Гуру</a>
    это веб-приложение с возможностью решать разнообразные наборы тестов. Автор Евгений Смирнов.
  </p>
  <a href="http://thinknetica.com"
     target="_blank"
     rel="nofollow noopener"
  >Учебный проект в онлайн-школе Thinknetica</a>
</footer>
