<div class="row justify-content-center mt-3">
  <div class="col col-md-8">
    <h2> Result list</h2>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Выполнен?</th>
        </tr>
      </thead>
      <tbody>
        <%= render @results %>
      </tbody>
    </table>
  </div>
</div>
