<li>
  <%= answer.body %><br>
  <%= link_to 'Показать', admin_answer_path(answer) %>
  <%= link_to 'Редактировать', edit_admin_answer_path(answer) %>
  <%= button_to 'Delete', admin_answer_path(answer), method: :delete %>
</li>
