header {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav_link {
  margin-left: 20px;
}