<h2>Список Тестов</h2>

<table>
  <thead>
  <tr>
    <th width="200px">Название</th>
    <th>Кол-во вопросов</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>
