<h2>Список вопросов для теста: <%= @test.title %>:</h2>
<p>
  <%= link_to 'Создать новый вопрос', new_test_question_path(@test) %>
</p>

<table>
  <thead>
  <tr>
    <th width="200px">Название</th>
    <th colspan="3">Действия</th>
  </tr>
  </thead>
  <tbody>
  <%= render @questions %>
  </tbody>
</table>
<p>
  <%= link_to 'К списку тестов', tests_path %>
</p>
